.skills {
    padding-bottom: 50px;
}

.skills-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #fff;
    text-shadow: 15px 15px 30px #000;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.skills-line {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.skills-image {
    width: 130px;
}


[data-aos="flips"]{
    transform: rotateY(0);
}

[data-aos="flips"].aos-animate {
    transform: rotateY(360deg);
}